accelerate>=0.34.0
bitsandbytes>=0.43.0
datasets>=2.21.0
huggingface_hub[cli]>=0.24.0
peft>=0.12.0
pillow>=10.0.0
safetensors>=0.4.0
torch>=2.4.0
tqdm>=4.66.0
git+https://github.com/huggingface/transformers.git@v4.49.0-AyaVision
